.title-greeting {
    color: #7864FF;
    text-shadow: 6px 2px 5px white;
    font-size: 50px;
}

.title-name {
    color: #BB30E1;
    font-size: 40px;
}

.title-content {
    color: #F2E908;
    font-size: 32px;
}

.content {
    font-size: 24px;
}