.title-greeting {
    color: #7864FF;
    text-shadow: 6px 2px 5px white;
    font-size: 50px;
}

.title-name {
    color: #17A5E1;
    font-size: 40px;
}

.title-about-me {
    color: #04C9AE;
    font-size: 32px;
}

.about-content {
    font-size: 24px;
}