.title-greeting {
    color: #7864FF;
    text-shadow: 6px 2px 5px white;
    font-size: 50px;
}

.title-name {
    animation: kf-color-mix 1s linear infinite alternate;
    font-size: 40px;
    font-style: italic;
}

@keyframes kf-color-mix {
    0% { color: #DF2DA8 }
    100% { color: #2148E6 }
  }

.title-content {
    color: var(--title-color);
    font-size: 32px;
}

.blink {
    animation: blink 1s infinite;
    font-weight: 200;
    position: absolute;
    letter-spacing: 0;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}

.title-skills {
    color: var(--title-color);
    font-size: 32px;
}

.content {
    font-size: 24px;
}


  